body {
	font-family: 'Open Sans', sans-serif;
	color: #616a71;
	font-size: 13px;
	line-height: 1.6;
	min-width: 970px;

	-webkit-font-smoothing: antialiased;
}
/*background-color: #4D7496;*/

.main-wrapper {
	/* pri zoomovani headera sa nerozpoli cely content na polku */
	min-width: 970px;
}

.container {
	width: 970px;
	max-width: none !important;
}
.container.container-wide {
	width: 1160px;
}

.static {
	position: static;
}

.sprite-box {
	text-align: center;
}
.sprite {
	width: 80px;
	height: 80px;
	background: transparent url(../img/sprites.png) no-repeat;
	margin: auto;
	margin-bottom: 10px;
}
.sprite-1 {
	background-position: 0 0;
}
.sprite-2 {
	background-position: -80px 0;
}
.sprite-3 {
	background-position: -160px 0;
}

.white-color-wrapper hr {
	border-color: #d6dde2;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Montserrat', sans-serif;
	color: #4f5a65;
	margin-top: 0;
	text-rendering: optimizeLegibility;
}
h1 {
	font-size: 2.3em;
}
h2 {
	font-size: 1.9em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.15em;
}
hr {
	border-top-color: #ecf0fb;
}
a {
	color: #598BB2;
}
a:focus {
	outline: none;
	outline-style: none;
}
small {
	font-size: 0.9em;
	font-weight: 400;
}
h2 > a,
h2 > a:hover,
h2 > a:focus {
	color: #4f5a65;
}

/* universal padding */
.padding-bottom-0		{padding-bottom: 0px !important;}
.padding-bottom-10	{padding-bottom: 10px !important;}
.padding-bottom-15	{padding-bottom: 15px !important;}
.padding-bottom-20	{padding-bottom: 20px !important;}
.padding-bottom-30	{padding-bottom: 30px !important;}
.padding-bottom-40	{padding-bottom: 40px !important;}
.padding-bottom-50	{padding-bottom: 50px !important;}
.padding-top-0			{padding-top: 0px !important;}
.padding-top-10			{padding-top: 10px !important;}
.padding-top-15			{padding-top: 15px !important;}
.padding-top-20			{padding-top: 20px !important;}
.padding-top-30			{padding-top: 30px !important;}
.padding-top-40			{padding-top: 40px !important;}
.padding-top-50			{padding-top: 50px !important;}
/* universal margin */
.margin-bottom-0		{margin-bottom: 0px !important;}
.margin-bottom-10		{margin-bottom: 10px !important;}
.margin-bottom-15		{margin-bottom: 15px !important;}
.margin-bottom-20		{margin-bottom: 20px !important;}
.margin-bottom-30		{margin-bottom: 30px !important;}
.margin-bottom-40		{margin-bottom: 40px !important;}
.margin-bottom-50		{margin-bottom: 50px !important;}
.margin-bottom-60		{margin-bottom: 60px !important;}
.margin-top-0				{margin-top: 0px !important;}
.margin-top-10			{margin-top: 10px !important;}
.margin-top-15			{margin-top: 15px !important;}
.margin-top-20			{margin-top: 20px !important;}
.margin-top-30			{margin-top: 30px !important;}
.margin-top-40			{margin-top: 40px !important;}
.margin-top-50			{margin-top: 50px !important;}
.margin-top-60			{margin-top: 60px !important;}
/* negative margin */
.margin-top--15			{margin-top: -15px !important;}
.margin-bottom--15	{margin-bottom: -15px !important;}
.margin-left--15		{margin-left: -15px !important;}
.margin-right--15		{margin-right: -15px !important;}

.margin-bottom {
	margin-bottom: 20px;
}
.larger-text {
	font-size: 1.15em;
}
.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	padding: 7px 14px;
	border-radius: 4px;
	outline: none;
	outline-style: none !important;

	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}
.btn-lg {
	padding: 10px 18px;
	font-size: 1.15em;
}
.btn-lg-extra {
	padding: 11px 30px;
	font-size: 1.35em;
}
.btn-wide {
	padding-left: 40px;
	padding-right: 40px;
}
.btn.focus, .btn:focus, .btn:hover {}
.btn-default {
	background-color: #979fa5;
	color: #ffffff;
	border: 0;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover {
	background-color: #6C7881;
	color: #ffffff;
}
.btn-primary {
	border: 0;
	background-color: #e85a5a;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #d74c4c;
}
.btn-default[disabled] {
	background-color: #979fa5;
}
.btn-success {
	background-color: #2fdc68;
	border: 0;
}
.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover {
	background-color: #1cc554;
}
.btn-blue {
	background-color: #294fb0;
	border: 0;
	color: #fff;;
}
.btn-blue.active, .btn-blue.focus, .btn-blue:active, .btn-blue:focus, .btn-blue:hover {
	background-color: #193681;
	color: #fff;
}

.form-control {
	background-color: #f7f9fb;
	border-color: #cbd5dc;
	border-radius: 2px;
	box-shadow: none;
	font-size: 1em;
}

.alert {
	position: relative;
	padding: 9px 13px 9px 32px;
	border-radius: 2px;
	margin-bottom: 15px;
	border: 0;
}
.alert:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	font-size: 18px;
	position: absolute;
	left: 9px;
	top: 11px;
}
.alert .close {
	display: none;
}
.alert-info {
	color: #31708f;
	background-color: #c9e5f6;
	/*border-top-color: #82B6D7;*/
}
.alert-info:before {
	content: "\f05a";
}

.full-width {
	width: 100%;
}
.grey-text {
	color: #989fa7;
}

div.wpcf7-response-output {
	padding: 10px 15px;
	margin: 0;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 2px;
}
div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ng,
div.wpcf7-spam-blocked {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
div.wpcf7-mail-sent-ok {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.header-wrapper {
	background-color: #2c3e50;/*#253544;*/ /*#282c30;*/ /* #2c3e50 */
	padding: 13px 0;
	/* na responsive, class na logo meni velkost headera */
	/*height: 92px;*/
}
.logo-link {
	display: block;
}

.navbar-collapse.collapse {
	display: block!important;
	height: auto!important;
	padding-bottom: 0;
	overflow: visible!important;
	visibility: visible!important;
	border-top: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar-collapse {
	margin-top: 14px;
}
.navbar-nav>li>a:focus {
	outline: none;
	outline-style: none;
}
.navbar-nav > li {
	float: left;
}
#menu-primary {
	float: left;
	margin: 0;
}
#menu-primary.nav>li>a {
	color: #97a8b9;
	padding: 10px 14px;
	font-size: 1.05em;
	/* originalne 300ms */
	-webkit-transition: color 218ms;
	-moz-transition: color 218ms;
	-ms-transition: color 218ms;
	-o-transition: color 218ms;
	transition: color 218ms;
}
#menu-primary.nav>li>a:focus,
#menu-primary.nav>li>a:hover,
#menu-primary.nav>li.active>a {
	color: #e3e8ed;
	background-color: transparent;
}
#menu-primary.nav>li:nth-child(5)>a {
	/*color: #e85a5a;*/
	color: #FBEAEA;
	background-color: #e85a5a;
	border-radius: 2px;
}
#menu-primary.nav>li:nth-child(5)>a:focus,
#menu-primary.nav>li:nth-child(5)>a:hover,
#menu-primary.nav>li:nth-child(5).active>a {
	/*color: #E26666;*/
	color: #ffffff;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: transparent;
	color: #e3e8ed;
}

.navbar-nav .open .dropdown-menu {
	position: absolute;
	z-index: 1000;
	top: 100%;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 26px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;

	background-color: #45596e;
	left: auto;
	right: 0;
	border: 0;
	margin-top: 26px;
	border-radius: 0;
	box-shadow: none;
}
.dropdown-menu>li>a {
	color: #e3e8ed;
	padding-top: 6px;
	padding-bottom: 7px;

	-webkit-transition: background-color 218ms;
	-moz-transition: background-color 218ms;
	-ms-transition: background-color 218ms;
	-o-transition: background-color 218ms;
	transition: background-color 218ms;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	background-color: #2c3e50;
	color: #e3e8ed;
}
.open > .dropdown-menu {
	animation-name: slidenavAnimation;
	animation-duration:.33s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;

	-webkit-animation-name: slidenavAnimation;
	-webkit-animation-duration:.33s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;

	-moz-animation-name: slidenavAnimation;
	-moz-animation-duration:.33s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
	from {
		opacity: 0;
		transform: scale(0.84) translateY(-8%);
	}
	to {
		opacity: 1;
		transform: scale(1) translateY(-1px);
	}
}
@-webkit-keyframes slidenavAnimation {
	from {
		opacity: 0;
		-webkit-transform: scale(0.84) translateY(-8%);
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1) translateY(-1px);
	}
}

#main {
	background: url(../img/bgs/green-pattern.jpg) no-repeat center center;
	background-size: cover;
}

.page-heading-wrapper {
	background-color: #e6eaed;

	/*background-image: url("../img/home-bg-pattern.png");
	background-size: cover;
	background-repeat: no-repeat;*/
}
.home .page-heading-wrapper {
	background-color: transparent;
}
.page-heading-wrapper.dark {
	background-color: #2c3e50;
	border-top: 1px solid #354a5e;
}
.home .page-heading-wrapper.dark {
	background-color: transparent;
	border-top: none;
}
.page-heading-wrapper.margin-bottom {
	margin-bottom: 50px;
}
.page-heading-wrapper .page-heading-inner {
	position: relative;
    padding: 33px 0;
	text-align: center;
}
.home .page-heading-wrapper .page-heading-inner {
	padding: 50px 0 40px 0;
}
.page-heading-wrapper .page-heading-inner:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -17px;
	margin-left: -18px;
	/*width: 0;
	height: 0;*/
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-top: 17px solid #e6eaed;
	z-index: 99;
	z-index: 15; /* staci aj mensie cislo */
	width: 36px !important;
	height: 17px !important;
}
.page-heading-wrapper.dark .page-heading-inner:after {
	border-color: transparent;
}
.page-title-heading {
	margin: 0;
	color: #39414a;
	font-size: 3.2em;
}
.dark .page-title-heading {
	color: #ffffff;
	font-size: 2.7em;
	font-weight: 700;
}
.home .dark .page-title-heading {
	color: #282c30;
}
.page-subtitle {
	color: #84898d;
	font-size: 1.18em;
	line-height: 1.5em;
	margin-top: 16px;
}
.dark .page-subtitle {
	color: #6a829b;
}
.home .dark .page-subtitle {
	color: #2e784f;
}

.main-content {
	margin-bottom: 30px;
	min-height: 300px;
}
.page-template-home .main-content,
.page-template-home-video .main-content {
	margin-bottom: 0;
}
/*.main-content {
	opacity: 0;

	-webkit-transition: opacity 300ms ease-in;
	-moz-transition: opacity 300ms ease-in;
	-ms-transition: opacity 300ms ease-in;
	-o-transition: opacity 300ms ease-in;
	transition: opacity 300ms ease-in;
}
body.window-loaded .main-content {
	opacity: 1;
}*/

.feature-block {
	text-align: center;
	margin-bottom: 35px;
}
.feature-block:nth-child(2n+1) {
	clear: left;
}
.feature-block.static:nth-child(2n+1) {
	clear: none;
}
.feature-icon {
	display: table;
	width: 100%;
	margin-bottom: 15px;
	min-height: 70px;
}
.feature-icon .feature-icon-align {
	display: table-cell;
	vertical-align: middle;
}
.feature-title {
	color: #505b66;
	margin: 0;
	margin-bottom: 10px;
	font-size: 1.2em;
}
.feature-content {}

.boxed-section {
	background-color: #f6f9fa;
	padding: 16px;
	margin-bottom: 15px;
	border-radius: 3px;
}
.boxed-section-title {
	font-size: 1.45em;
	margin-top: 0;
	margin-bottom: 10px;
}
.doc-section-title {
	padding-left: 55px;
	padding-top: 11px;
	padding-bottom: 11px;
	background-position: left center;
	background-repeat: no-repeat;
}
.doc-introduction {
	background-image: url(../img/doc/introduction.png);
}
.doc-installation-integration {
	background-image: url(../img/doc/installation-integration.png);
}
.doc-user-manual {
	background-image: url(../img/doc/user-manual.png);
}
.doc-screenshots-videos {
	background-image: url(../img/doc/screenshots-videos.png);
}
.doc-guides {
	background-image: url(../img/doc/guides.png);
}
.doc-enteprise-subscription {
	background-image: url(../img/doc/enteprise-subscription.png);
}
.doc-compliance-packages {
	background-image: url(../img/doc/compliance-packages.png);
}
.doc-compliance-mappings {
	background-image: url(../img/doc/compliance-mappings.png);
}
.doc-policies {
	background-image: url(../img/doc/policies.png);
}


.doc-section-desc {
	color: #969b9f;
	line-height: 1.4;
	margin-bottom: 15px
}
ul.doc-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
ul.doc-list li {
	position: relative;
	padding-left: 15px;
	margin-bottom: 10px;
}
ul.doc-list li:before {
	font-family: 'FontAwesome';
	content: "\f054";
	color: #e85a5a;
	padding-right: 15px;
	font-size: 9px;
	top: 4px;
	left: 0;
	position: absolute;
}
ul.doc-list ul {
	list-style: none;
	padding-left: 10px;
}

.doc-list li a {
	color: #616a71;
}
.table-of-contents ul.doc-list {
	margin-bottom: 20px;
}
.table-of-contents ul.doc-list li {
	margin-bottom: 0;
}

.documentation-article p {
	margin-bottom: 20px;
}
.documentation-article h2 {
	margin-top: 30px;
	margin-bottom: 11px;
}
.documentation-article h3 {
	color: #84898d;
	margin-top: 15px;
}
.documentation-article h4 {
	color: #84898d;
	margin-bottom: 5px;
}
.documentation-article img.size-full {
	display: block;
	max-width: 100%;
	height: auto;
}


.content-sidebar-item {
	margin-bottom: 15px;
}
.content-sidebar-item .sidebar-title {
	font-size: 1.3em;
	background-color: #dae3ec;
	padding: 12px 20px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin: 0;
}
.content-sidebar-item .sidebar-title i:before {
	padding-right: 11px;
	display: none;
}
.content-sidebar-item .sidebar-inner {
	position: relative;
	background-color: #eaf0f6;
	padding: 19px 23px 23px 23px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.content-sidebar-item .sidebar-inner:before {
	content: "";
	position: absolute;
	left: 22px;
	top: -14px;
	/*width: 0;
	height: 0;*/
	border: 7px solid transparent;
	border-bottom-color: #eaf0f6;
	width: 14px !important;
	height: 14px !important;
}


.content-sidebar-item.widget_table-of-contents .sidebar-title i:before {
	content: "\f02d";
	display: inline-block;
}
#text-7 .sidebar-title i:before {
	content: "\f188";
	display: inline-block;
}
#text-8 .sidebar-title i:before,
#text-9 .sidebar-title i:before {
	content: "\f1ad";
	display: inline-block;
}
.video-widget .sidebar-title i:before {
	content: "\f16a";
	display: inline-block;
}



.home-bg {
	background-color: #eaf0f6;
	padding: 44px 0;
	background-image: url(../img/home-bg-pattern.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.home-heading {
	text-align: center;
	font-weight: 700;
	font-size: 32px;
}
.home-subheading {
	color: #84898d;
	text-align: center;
	margin-bottom: 80px;
	font-size: 1.15em;
}
.home-showcase {
	position: relative;
	margin-bottom: 45px;

}
.home-showcase .macbook-preview {
	margin: 0 auto;
	margin-bottom: 15px;
	display: block;
}
.showcase-iconbox {
	position: absolute;
	display: table;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.15em;
	color: #84898d;
}
.showcase-label {
	display: table-cell;
	vertical-align: middle;
	line-height: 1.3;
}
.showcase-iconbox-right {
	text-align: right;
	padding-right: 100px;
}
.showcase-iconbox-left {
	text-align: left;
	padding-left: 100px;
}
.showcase-icon {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #ffffff;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-box-shadow: 2px 3px rgba(0,0,0,0.3);
	box-shadow: 2px 3px rgba(0,0,0,0.3);
}
.showcase-iconbox-right .showcase-icon {
	margin-left: 10px;
}
.showcase-iconbox-left .showcase-icon {
	margin-right: 10px;
}

.home-showcase-btns {
	text-align: center;
}
.showcase-btn {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}
.showcase-icon-1 {
	top: -53px;
	left: 25px;
}
.showcase-icon-1 .showcase-icon {
	background-image: url(../img/home/stop-spreadsheeting.png)
}
.showcase-icon-2 {
	top: 80px;
	left: 20px;
}
.showcase-icon-2 .showcase-icon {
	background-image: url(../img/home/facts-dashboards.png)
}
.showcase-icon-3 {
	top: 194px;
	left: 15px;
}
.showcase-icon-3 .showcase-icon {
	background-image: url(../img/home/increase-collaboration.png)
}
.showcase-icon-4 {
	top: -24px;
	right: 15px;
}
.showcase-icon-4 .showcase-icon {
	background-image: url(../img/home/simplify-governance.png)
}
.showcase-icon-5 {
	top: 100px;
	right: 50px;
}
.showcase-icon-5 .showcase-icon {
	background-image: url(../img/home/save-time.png)
}
.showcase-icon-6 {
	top: 215px;
	right: 20px;
}
.showcase-icon-6 .showcase-icon {
	background-image: url(../img/home/grc.png)
}

.friendly-items {
	text-align: center;
}
.friendly-items li {
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
}
.friendly-items li span {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.15em;
	color: #84898d;
}

.home-bg-bottom {
	background-color: #f6f7fa;
	padding: 38px 0;
}
.home-bg-bottom h3 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 40px;
}
.eramba-users-wrapper {
	margin-bottom: 50px;
}
.eramba-users {
	text-align: center;
	padding-top: 105px;
	background-position: center top;
	background-repeat: no-repeat;
}
.eramba-users h4 {
	font-size: 1.15em;
	color: #505b66;
}
.eramba-users.security-professionals {
	background-image: url(../img/security-professionals.png)
}
.eramba-users.auditors {
	background-image: url(../img/auditors.png)
}
.eramba-users.compliance-managers {
	background-image: url(../img/compliance-managers.png)
}
.eramba-users.nist-professionals {
	background-image: url(../img/nist-professionals.png)
}

.highlight-box {
	background-color: #e6eaed;
	border-top: 2px solid #c5c8cb;
	padding: 16px 15px;
	margin-bottom: 15px;
}
.highlight-box-inner {
	background-color: #f5f7f8;
	padding: 11px 18px;
	border: 1px solid #bcc8d0;
	border-radius: 2px;
	margin-bottom: 15px;
}
.highlight-box-inner > p:last-child {
	margin-bottom: 0;
}

/* Colored wrappers */

.red-color-wrapper {
	position: relative;
	background-color: #d15759;
	padding: 40px 0;
	color: #e6eaed;
}
.red-color-wrapper h3 {
	color: #ffffff;
}
.red-color-wrapper a {
	color: #e6eaed;
	text-decoration: underline;
}

.white-color-wrapper {
	background-color: #ffffff;
	padding: 30px 0;
}

.blue-color-wrapper {
	position: relative;
	background-color: #d2e4f2;
	padding: 40px 0;
}

.light-blue-color-wrapper {
	position: relative;
	background-color: #f7fafc;
	padding: 40px 0;
}

.gray-color-wrapper {
	position: relative;
	background-color: #515e68;
	padding: 40px 0;
	color: #e6eaed;
}

.gray-color-wrapper h3 {
	color: #e8f4f9;
}

.light-gray-color-wrapper {
	background-color: #f6f7fa;
	position: relative;
	padding: 40px 0;
	color: #848994;
}

.gray-color-wrapper.dark {
	background-color: #4a4f54;
	padding: 15px 0;
}

/* Colored borders */

.blue-color-border {
	border: 1px #d2e4f2 solid;
	padding: 30px;
}
.blue-color-border .number {
	font-size: 56px;
	font-weight: bold;
	color: #39414a;
	margin-top: 0;
}
.blue-color-border a:not(.btn), .table a:not(.btn) {
	padding: 2px 4px;
	color: #39414a;
	text-decoration: none;
	-webkit-transition: all 218ms;
	-moz-transition: all 218ms;
	-ms-transition: all 218ms;
	-o-transition: all 218ms;
	transition: all 218ms;
}
.blue-color-border a:not(.btn):hover,
.table a:not(.btn):hover {
	color: #84898D;
}

/* Images from main-content */

.about-us-img {
	position: absolute;
	bottom: 0;
	max-height: 232px;
	width: auto;
	margin: 0 !important;
}
.about-us-img2 {
	position: relative;
	top: 17px;
	margin: 0 !important;
}

.iconbox {
	margin-bottom: 45px;
}
.iconbox:last-child {
	margin-bottom: 0;
}
.iconbox .iconbox-icon {
	float: left;
}
.iconbox .iconbox-content {
	padding-left: 80px;
}
.iconbox.iconbox-fontawesome .iconbox-content {
	padding-left: 40px;
}
.iconbox.iconbox-theme .iconbox-content {
	padding-top: 18px;
}
.iconbox .iconbox-icon i {
	font-size: 20px
}


.enterprise-services-img {
	position: absolute;
	bottom: 0;
	max-height: 283px;
	width: auto;
	margin: 0 !important;
}

.light-box {
	padding: 20px 25px;
}
.blog-article,
.light-box {
	border-radius: 3px 3px 2px 2px;
	background-color: #f6f9fa;
	margin-bottom: 25px;
	overflow: hidden;
}
.blog-article-inner {
	padding: 20px 25px;
}
.article-image {
	background-color: #000000;
}
.article-image a {
	display: block;
	border-radius: 3px 3px 0 0;
	overflow: hidden;

	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}
.article-image a:hover {
	opacity: 0.85;
}
.article-title {
	font-size: 1.4em;
	font-weight: 600;
}
.article-meta {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #848994;
	margin-bottom: 15px;
}
.article-meta a {
	color: #848994;
}
.article-meta li {
	float: left;
}
.article-meta li:not(:last-child):after {
	content: "•";
	padding: 0 6px;
}
.article-content {
	margin-bottom: 20px;
}
.article-bottom-icons {
	margin-bottom: 0;
	padding-top: 10px;
}
.article-bottom-icons,
.article-bottom-icons a {
	color: #848994;
	text-decoration: none;
}
.article-bottom-icons li {
	float: left;
	margin-left: 15px;
}

.comments-title {
	font-size: 1.4em;
}
.comment-list, .comment-list ol {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.comment-list ol {
	margin-bottom: 15px;
}
/*.comment-list li {
	margin-bottom: 15px;
}*/
.comment-list .children > li {
	padding-left: 1.4737em;
}
.comment-author {
	float: left;
}
.comment-metadata {
	text-align: right;
	font-size: 0.9em;
}
.comment-metadata a {
	color: #848994;
}
.comment-content {
	clear: left;
}
.reply {
	text-align: right;
}
.comment-form-comment label {
	display: block;
}
.comment-form .form-control {
	background-color: #ffffff;
}
.comment-awaiting-moderation {
	clear: left;
	font-size: 0.9em;
}


/* Footer */
.footer-top-wrapper {
	background-color: #282c30;
	padding: 32px 0;
	color: #9fa4af;
}
.footer-top-wrapper .widgettitle {
	font-size: 1.05em;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 18px;
}
/*.footer-top-widgets-row {
	margin-right: -25px;
	margin-left: -25px;
}
.footer-top-widgets-row > div[class*="col-"] {
	padding-right: 25px;
	padding-left: 25px;
}*/
.footer-bottom-wrapper {
	background-color: #222528;
	padding: 13px 0;
	color: #f2f5fe;
}
.footer-bottom-wrapper p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.05em;
	margin: 0;
	text-align: center;
}

.footer-top-wrapper .read-more {
	color: #c2c9d6;
}
.footer-top-wrapper .read-more i {
	padding-left: 10px;
}

.footer-sidebar > aside:not(:last-child) {
	margin-bottom: 30px;
}

.panel-group .panel {
	border-radius: 0;
	border: 0;
	border-top: 2px solid #c5c8cb;
	background-color: #e6eaed;
}
.panel-heading {
	padding: 0;
}
.panel-default>.panel-heading {
	background-color: transparent;
}
.panel-title {
	font-size: 1.1em;
}
.panel-title > a {
	display: block;
	padding: 11px 15px;
	color: #646d78;
	text-decoration: none;
}
.panel-title > a:after {
	content: "\f067";
	float: right;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}
.panel-title > a[aria-expanded=true]:after {
	content: "\f068";
}
.panel-body {
	padding: 15px 0;
	margin: 0 15px;
}
.panel-body hr {
	border-top-color: #cfd1d5;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top-color: #cfd1d5;
}

/* widgets */
.widget_latest-news ul {

}
.widget-latest-post-item {
	margin-bottom: 20px;
}
.widget-latest-post-item > .row {
	margin-right: -7px;
	margin-left: -7px;
}
.widget-latest-post-item > .row > div[class*="col-"] {
	padding-right: 7px;
	padding-left: 7px;
}
.widget-latest-post-item .latest-post-image a {
	display: block;
	border-radius: 3px;
	overflow: hidden;
}
.widget-latest-post-item .latest-post-image img {
	width: 100%;
	height: auto;
}
.latest-post-info p {
	margin-bottom: 0;
}
.latest-post-info a {
	color: #9fa4af;
}
.latest-post-date {
	color: #6b7078;
	font-size: 0.9em;
}

.footer-top-wrapper .tagcloud a {
	font-size: 0.9em !important;
	color: #9fa4af;
	display: inline-block;
	background-color: #1c1f23;
	border-radius: 2px;
	padding: 3px 9px;
	margin: 0 5px 5px 0;
	text-decoration: none;

	-webkit-transition: all 218ms;
	-moz-transition: all 218ms;
	-ms-transition: all 218ms;
	-o-transition: all 218ms;
	transition: all 218ms;
}
.footer-top-wrapper .tagcloud a:hover {
	color: #222;
	background: #dae3ec;
}

.contact-info i {
	width: 25px;
	color: #71757f;
	font-size: 15px;
}
.footer-top-wrapper a {
	color: #9fa4af;
	text-decoration: none;

	-webkit-transition: color 218ms;
	-moz-transition: color 218ms;
	-ms-transition: color 218ms;
	-o-transition: color 218ms;
	transition: color 218ms;
}
.footer-top-wrapper a:hover {
	color: #dae3ec;
}

.social-icons {}
.social-icons li {
	display: inline-block;
	margin-right: 10px;

}
.social-icons li a {
	display: block;
	width: 36px;
	height: 36px;
	background-color: #1c1f23;
	text-align: center;
	padding-top: 8px;
	border-radius: 50%;

	-webkit-transition: background-color 218ms;
	-moz-transition: background-color 218ms;
	-ms-transition: background-color 218ms;
	-o-transition: background-color 218ms;
	transition: background-color 218ms;
}
.social-icons li a:hover {
	background-color: #dae3ec;
}
.social-icons li i {
	color: #9fa4af;

	-webkit-transition: color 218ms;
	-moz-transition: color 218ms;
	-ms-transition: color 218ms;
	-o-transition: color 218ms;
	transition: color 218ms;
}
.social-icons li a:hover i {
	color: #222;
}

.gallery .gallery-item a {
	display: block;
}
.gallery .gallery-item a img {
	border: 1px solid #C8C8C8 !important;
}
.gallery .gallery-item > .wp-caption-text {
	margin-top: 5px;
}


.pagination {
	text-align: center;
	display: block;
	font-size: 1.1em;
}
.pagination > span, .pagination a {
	color: #a3a8ad;
	margin-left: 6px;
	margin-right: 6px;
}
.pagination > .current {
	font-weight: bold;
}


/* Timeline Begin */

.timeline {}
.timeline-item {
	color: #646d78;
}
.timeline-item > .row {
	position: relative;
}
.timeline-item .timeline-date-col {
	position: absolute;
	height: 100%;
}
.timeline-item .timeline-date-wrapper {
	position: relative;
	display: table;
	float: right;
	height: 100%;
}

.timeline-item .timeline-date {
	vertical-align: middle;
	display: table-cell;
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	line-height: 1;
}
.timeline-item .timeline-date .timeline-year {
	font-size: 0.83em;
}
.timeline-item .timeline-content-wrapper {
	position: relative;
}
.timeline-item .timeline-content-container {
	position: relative;
	z-index: 2;
}
.timeline > .timeline-item:first-child .timeline-content-container:before,
.timeline > .timeline-item:last-child .timeline-content-container:before {
	content: "";
	position: absolute;
	left: -57px;
	top: 0;
	width: 4px;
	height: 50%;
	background-color: #FFFFFF;
	z-index: 2;
}
.timeline > .timeline-item:last-child:not(:first-child) .timeline-content-container:before {
	background-color: #adbcc7;
}
.timeline-item .timeline-date-col,
.timeline-item .timeline-content-wrapper {
	padding-bottom: 45px;
}
.timeline > .timeline-item:first-child .timeline-date-col,
.timeline > .timeline-item:first-child .timeline-content-wrapper {
	padding-bottom: 130px;
}
.timeline > .timeline-item:not(:last-child) .timeline-content-wrapper:before {
	content: "";
	position: absolute;
	left: -57px;
	width: 4px;
	height: 100%;
	background-color: #adbcc7;
	z-index: 1;
}

.timeline-item .timeline-content {
	padding: 17px 27px 13px 90px;
	border-radius: 4px;
	border-bottom: 1px solid rgba(0,0,0,0.17);
	background-repeat: no-repeat;
	background-position: 22px center;
	z-index: 2;
}
.timeline-item .timeline-content:before {
	content: "";
	position: absolute;
	font-size: 0;
	/*width: 0;
	height: 0;*/
	top: 50%;
	margin-top: -9px;
	left: 0;
	/*border: 6px solid transparent;

	-webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.26);
	-ms-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.26);
	-o-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.26);
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.26);*/

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	transform-origin: 0 0;

	z-index: -1;

	/* such small clever idea this was, and also the shadow had wrong color to it anyways */
	background-color: inherit;
	border-bottom: inherit;
}
.timeline-item .timeline-content:after {
	content: "";
	position: absolute;
	left: -66px;
	top: 50%;
	margin-top: -11px;
	width: 22px;
	height: 22px;
	border: 4px solid #adbcc7;
	border-radius: 50%;
	background-color: #ffffff;
	z-index: 3;
}
.timeline > .timeline-item:first-child .timeline-content:after {
	background-color: #adbcc7;
}

.timeline-item .timeline-content h2 {
	font-size: 1.25em;
}
.timeline-item .timeline-content .read-more {
	font-weight: 600;
	color: #646d78;
	text-decoration: none;
	/* originalne 300ms  */
	-webkit-transition: color 218ms;
	-moz-transition: color 218ms;
	-ms-transition: color 218ms;
	-o-transition: color 218ms;
	transition: color 218ms;
}
.timeline-item .timeline-content .read-more i {
	font-size: 10px;
	margin-left: 4px;
}
.timeline-item .timeline-content .read-more:hover {
	color: #878F99;
}

.timeline-item-news .timeline-content {
	background-color: #d9e2e8;
	background-image: url(../img/timeline/news.png);
}
/*.timeline-item-news .timeline-content:before {
	border-color: #d9e2e8;
}*/
.timeline-item-patch .timeline-content {
	background-color: #f5f4df;
	background-image: url(../img/timeline/patch.png);
}
/*.timeline-item-patch .timeline-content:before {
	border-color: #f5f4df;
}*/
.timeline-item-release .timeline-content {
	background-color: #f3dfff;
	background-image: url(../img/timeline/release.png);
}
/*.timeline-item-release .timeline-content:before {
	border-color: #f3dfff;
}*/
.timeline-item-feature .timeline-content {
	background-color: #e6f8e2;
	background-image: url(../img/timeline/feature.png);
}
/*.timeline-item-feature .timeline-content:before {
	border-color: #e6f8e2;
}*/

/* Timeline End */


.enterprise-vs-community-wrapper {
	padding: 25px 0 15px;
	border-top: 1px solid #a9c3d7;
}
.diagram-wrapper {
	background-color: #edf2f6;
	padding: 40px 0 25px 0;
}
.yearly-wrapper {
	border-bottom: 1px solid #d6dde2;
	padding: 30px 0 20px;
	margin-bottom: 30px;
}
.enterprise-block {
	text-align: center;
	margin-bottom: 35px;
}
.enterprise-block:nth-child(3n+1) {
	clear: left;
}
.enterprise-border {
	border-bottom: 1px solid #d6dde2;
}

/* Table > blue-color-wrapper */
.table>thead>tr.info, .table>thead>tr.info>th {
	background-color: #d2e4f2;
	font-size: 15px;
}
.table>tbody>tr.active>td {
	background-color: #f2f2f2;
}

.table {
	padding: 0 1px 0 1px;
	margin-bottom: 0;
	border-spacing: 0 2px;
	border-collapse: separate;
	vertical-align: middle;
	font-size: 14px;
	color: #4f5a65;
}
.table tr {
	height: 50px;
	line-height: 50px;
	/*text-indent: 19px;*/
}
.table>thead>tr>th, .table>tbody>tr>td {
	/*padding: 1px;*/
	border: 0;
	/*border-bottom: 2px solid rgba(0,0,0,0.05);*/
	vertical-align: middle;
}

.table-diff thead tr th,
.table-diff tbody tr td,
.table-padded thead tr th,
.table-padded tbody tr td {
	padding: 8px 17px;
}
.table-diff thead tr th:first-child,
.table-diff thead tr th:last-child {
	width: 19%;
}



.enterprise-table-wrapper table {
	width: 100%;
	margin: 40px 0 15px;
	color: #39414a;
	min-width: 720px;
}
.enterprise-table-wrapper tr {
	border-bottom: 1px solid #d6d6d6;
}
.enterprise-table-wrapper th {
	text-align: center;
	color: #39414a;
	font-size: 0.9em;
	font-weight: 700;
	padding: 0 0 10px;
}
.enterprise-table-wrapper th:nth-child(1) {
	width: 8%;
}
.enterprise-table-wrapper th:nth-child(2) {
	width: 44%;
}
.enterprise-table-wrapper th:nth-child(3),
.enterprise-table-wrapper th:nth-child(4),
.enterprise-table-wrapper th:nth-child(5),
.enterprise-table-wrapper th:nth-child(6) {
	width: 12%;
}
.enterprise-table-wrapper td:nth-child(3),
.enterprise-table-wrapper td:nth-child(4),
.enterprise-table-wrapper td:nth-child(5),
.enterprise-table-wrapper td:nth-child(6) {
	background-color: #f9f9f9;
	font-size: 0.90em;
	text-align: center;
}
.enterprise-table-wrapper table h3 {
	margin: 15px 0 10px;
	font-size: 1em;
}
.enterprise-table-wrapper table p {
	font-size: 0.90em;
	line-height: 1.3em;
}

.enterprise-table-wrapper tbody > tr > td:first-child {
	text-align: center;
}
.enterprise-table-wrapper tbody > tr > td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.enterprise-table-wrapper .price-highlight {
	display: inline;
	font-size: 1.4em;
	font-weight: 700;
	/*font-family: 'Montserrat', sans-serif;*/
	color: #4f5a65;
	/*text-rendering: optimizeLegibility;*/
}

@media (min-width: 768px) {

	.margin-11 {
		margin-right: -11px;
		margin-left: -11px;
	}
	.padding-11 {
		padding-right: 11px;
		padding-left: 11px;
	}
}
.bold {
	font-weight: 700;
}

/*********** ONLINEDEMO 2 CSS ***********/
#info-box .item {
	margin-bottom: 22px;
}
#info-box a.item {
	display: block;
	text-decoration: none !important;
	transition: opacity 220ms;
}
#info-box a.item:hover {
	opacity: 0.85;
}
#info-box .item.first {
	padding: 25px;
	background: #e5eff2;
}
#info-box .item.second {
	padding: 25px 0;
	background: #ffe7c4;
}
#info-box .item.other {
	padding: 22px 0;
	background: #e6eaed;
}
#info-box .item h3 {
	color: #434849;
	font-size: 1.5em;
	font-weight: 700;
	margin: 0;
}
#info-box .item.first .image-wrapper {
	height: 140px;
	width: 100%;
	background: url('../img/community-edition.png') no-repeat center bottom;
}
#info-box .item.second .image-wrapper {
	height: 140px;
	width: 100%;
	background: url('../img/subscriptors-edition.png') no-repeat center bottom;
}
#info-box .item .text-wrapper {
	background: #fff;
	margin: 0 25px;
	color: #434849;
	padding: 15px;
	margin-bottom: 25px;
}
#info-box .item.other .text-wrapper {
	margin-bottom: 0;
}
#info-box .item.other .title-inner {
	display: inline-block;
	margin: 5px;
}
#info-box .item.other .title-wrapper .image {
	height: 40px;
	width: 40px;
	float: left;
	margin-right: 10px;
}
#info-box .item.other .title-wrapper h4 {
	color: #4f5a65;
	font-size: 1.1em;
	font-weight: 700;
	display: block;
	line-height: 40px;
	margin: 0;
	float: left;
}
#info-box .item.other .title-wrapper.awareness-portal .image {
	background: url('../img/icons/awareness-portal.png') no-repeat right center;
}
#info-box .item.other .title-wrapper.policies .image {
	background: url('../img/icons/policies.png') no-repeat right center;
}
#info-box .text-wrapper .title {
	font-size: 1.3em;
	font-weight: 700;
	margin-bottom: 20px;
}
#info-box .text-wrapper .data {
	font-size: 1.1em;
}
#info-box .text-wrapper .data .my-col {
	width: 50%;
	float: left;
}
#info-box .item .top-text {
	font-size: 1.1em;
	padding: 0 25px;
	margin-bottom: 15px;
}
#info-box .item .bottom-text {
	font-size: 1.1em;
	color: #616a71;
}
#info-box .item.second .bottom-text {
	padding: 0 25px;
}


.more-info {
	margin: 45px 0 55px;
}
.more-info p {
	color: #434849;
	font-weight: 700;
	font-size: 1.1em;
	margin-bottom: 15px;
}
.more-info .grey {
	background: #979fa5;
}
.more-info .grey:hover,
.more-info .red:hover,
#login-box form .submit button:hover,
#login-box .guest a:hover {
	background: #2c3e50;
	color: #fff;
}
.more-info .red {
	background: #e85a5a;
}

/*********** END ONLINEDEMO 2 CSS ***********/


/*********** HOME and DOWNLOAD CSS ***********/
.main-video {
	/*min-height: 400px;*/
	/*background: url('../img/bgs/dark-pattern.png') no-repeat center center;*/
	width: 100%;
	position: relative;
	padding: 0 0 50px;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.main-video .video-wrapper {
	position: relative;
	/*max-width: 100%;*/
	width: 853px;
	height: 480px;
	/*min-height: 400px;*/
	/*height: 460px;*/
	background: #ffffff url('../img/bgs/video.jpg') no-repeat center center;
	border-radius: 6px;
	margin: 0 auto;
	overflow: hidden;
	/*cursor: pointer;*/

	-webkit-box-shadow: 0 6px 43px 0 rgba(0,0,0,0.22);
	-moz-box-shadow: 0 6px 43px 0 rgba(0,0,0,0.22);
	-ms-box-shadow: 0 6px 43px 0 rgba(0,0,0,0.22);
	-o-box-shadow: 0 6px 43px 0 rgba(0,0,0,0.22);
	box-shadow: 0 6px 43px 0 rgba(0,0,0,0.22);

	transition: background-color 300ms;
	/*transition-delay: 300ms;*/
}
.main-video .video-wrapper:before {
	content: "";
	position: absolute;
	background: url('../img/icons/play-video-white.png') no-repeat center center;
	top: 50%;
	left: 50%;
	margin-top: -34px;
	width: 68px;
	height: 68px;
	margin-left: -34px;
	/*background-color: #fff;
	border-radius: 50%;*/
	opacity: 0;
	pointer-events: none;

	-webkit-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-ms-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	transition: opacity 200ms;
}
.main-video .video-wrapper.video-playing {
	background: #2b3c4d;
}
.main-video .video-wrapper.video-ready:before {
	opacity: 0.7;
}
.main-video .video-wrapper.video-ready:hover:before {
	opacity: 1;
}
.main-video .video-wrapper.video-playing:before {
	opacity: 0;
	display: none;
}
#player {
	/*margin-bottom: -5px;*/
	/*opacity: 0;*/
	/*visibility: hidden;*/
	/*display: none;*/
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}
.main-video .video-wrapper.video-playing #player {
	opacity: 1;
}

.download-items {
	padding: 0 0 70px 0;
}
.download-items .item {
	text-align: center;
}
.download-items .item .img-wrapper {
	height: 100px;
}
.download-items .item h4 {
	color: #4f5a65;
	sfont-size: 1.3em;
}
.download-items .item .text {
	max-width: 250px;
	margin: 0 auto 25px;
}


.last-updates h2 {
	font-weight: 700;
	color: #39414a;
	margin-bottom: 35px;
}
.last-updates .items-wrapper .item {
	border-right: 1px solid #e1e3e9;
}
.last-updates .items-wrapper .item:last-child {
	border-right: none;
}
.last-updates .items-wrapper h3 {
	font-size: 1em;
	font-weight: 700;
	margin: 10px 0 5px;
}
.last-updates .items-wrapper .more {
	display: inline-block;
	color: #e85a5a;
	font-weight: 700;
	margin: 8px 0 0;
	position: relative;
	padding-right: 15px;
}
.last-updates .items-wrapper .more::after {
	content: url('../img/icons/arrow-more.png');
	width: 9px;
	height: 13px;
	position: absolute;
	right: 0;
	top: 2px;
}


.logos-wrapper table {
	width: 100%;
	margin: 25px 0;
}
.logos-wrapper table.table-4-col tr td {
	width: 25%;
}
.logos-wrapper table.table-5-col tr td {
	width: 20%;
}


.newsletter {

}
.newsletter .text {
	color: #bdc2c6;
	float: left;
	padding: 10px 0 0 35px;
	position: relative;
}
.newsletter .text::before {
	content: url("../img/icons/newsletter.png");
	position: absolute;
	left: 0;
	top: 12px;
}
.newsletter .text .highlighted{
	color: #ffffff;
	font-size: 1.15em;
	font-weight: 700;
	margin-right: 5px;
}
.newsletter .form {
	float: right;
}
.newsletter .form input {
	height: 40px;
	width: 270px;
	float: left;
	border: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 0 15px;
	color: #646d78;
}
.newsletter .form button {
	height: 40px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 7px 25px;
}


.video-documentation {
	background-color: #dfe6ec;
	border-radius: 4px;
	min-height: 80px;
	position: relative;
}
.video-documentation .img-wrapper {
	width: 100px;
	height: 100%;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
}
.video-documentation .text-wrapper {
	padding-left: 100px;
	font-size: 1.18em;
	padding: 15px 240px 15px 100px;
}
.video-documentation .btn-wrapper {
   width: 240px;
	height: 100%;
	position: absolute;
	text-align: right;
	top: 0;
	right: 0;
}
.video-documentation .btn-wrapper a {
	margin: 15px 25px;
}


.btn.custom {
	font-size: 1.18em;
	padding: 7px 40px;
}
.btn.red {
	background-color: #e85a5a;
	color: #fff;
}
.btn.red:hover {
	background-color: #2fdc68;
}
.btn.grey {
	background-color: #979fa5;
	color: #fff;
}
.btn.grey:hover {
	background-color: #575757;
}
.valign-wrapper {
	display: table;
	width: 100%;
	height: 100%;
}
.valign-inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
/*********** END HOME and DOWNLOAD CSS ***********/


.subscriber-wrapper .wpcf7-not-valid-tip {
	display: none;
}

#home-video {
	background: #000000;
}

#main-boxes {
	padding-bottom: 80px;
}

.main-box {
	background: url(../img/bgs/box-pattern.jpg) no-repeat center center;
	background-size: cover;
	border-radius: 3px;
	box-shadow: 0px 0px 50px #5a978e;
	height: 410px;
}
.main-box.video {
	background: url(../img/bgs/box-video.jpg) no-repeat center center;
}
.main-box.video {
	background: url(../img/bgs/box-video.jpg) no-repeat center center;
	position: relative;
}
.main-box.video .play-icon {
	width: 38px;
	height: 38px;
	opacity: 0.8;
	position: absolute;
	top: 107px;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.main-box.video:hover .play-icon {
	opacity: 1;
}
.fancybox-media:hover {
	text-decoration: none !important;
}
.main-box-bottom {
	border-top: 1px solid #d4d4d4;
	text-align: center;
	padding: 13px 0 15px 0;
}
.main-box-bottom a {
	color: #e63838;
	font-size: 13px;
	font-weight: 700;
	position: relative;
	padding-right: 15px;
}
.main-box-bottom a::after {
	content: url('../img/icons/arrow-more.png');
	width: 9px;
	height: 13px;
	position: absolute;
	right: 0;
	top: 1px;
}
.main-box-header {
	padding: 25px 20px 0 20px;
	text-align: left;
}
.main-box-header h2 {
	font-size: 18px;
	color: #282c30;
	margin-bottom: 15px;
}
.main-box-header h2 strong {
	font-size: 22px;
	font-weight: 700;
}
.main-box-header hr {
	border: 1px solid #e63838;
	width: 35px;
	margin: 0px;
}
.main-box-inner {
	/*padding: 0 20px 5px 20px;*/
	height: 280px;
	margin-bottom: 10px;
}
.main-box-inner .nano-pane {
	right: 5px;
}
.updates-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
	padding: 0 20px 5px 20px;
}
.updates-list li {
	border-bottom: 1px solid #d4d4d4;
	padding: 15px 0 15px 0;
}
.updates-list li:last-child {
	border-bottom: none;
}
.updates-list li time {
	font-size: 12px;
	font-weight: 700;
	color: #848994;
	margin-bottom: 5px;
	display: block;
}
.updates-list li h4 {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 2px;
}
.updates-list li h4 a {
	color: #4f5a65;
}
.updates-list li p {
	font-size: 14px;
	color: #616a71;
	margin-bottom: 0px;
}

.fancybox-custom-close {
	position: absolute;
	top: -30px;
	right: 0px;
	color: #dddddd;
	font-size: 20px;
}
.fancybox-custom-close:hover {
	color: #222222;
}

.doc-box {
	background: #edeff1 url(../img/bgs/gray-box-pattern.png) no-repeat center center;
	background-size: cover;
	position: relative;
	border-radius: 3px;
	margin-bottom: 30px;
}
.enterprise-ribbon {
	position: absolute;
	width: 92px;
	right: -11px;
	top: -9px;
}

.doc-box.mb-0 {
	margin-bottom: 0;
}
.doc-box-img {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 15px 0px 15px 15px;
	width: 58px;
}
.doc-box-alt .doc-box-img {
	position: relative;
	top: auto;
	left: auto;
	padding: 15px 15px 0px 15px;
	text-align: center;
	width: 100%;
}
.doc-box-img img {
	max-width: 100%;
}
.doc-box-content {
	padding: 15px 10px 35px 70px;
}
.doc-box-content.equal {
	padding: 15px 20px 35px 70px;
}
.doc-box-alt .doc-box-content {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
.col-sm-4 .doc-box:not(.doc-box-alt) .doc-box-content {
	padding-left: 75px;
}
.doc-box-content h4 {
	font-weight: 600;
	line-height: 1.4;
	font-size: 1.2em;
}
.doc-box-content p {
	font-size: 1.0em;
}
.doc-box-content ul {
	padding: 0px;
	margin-bottom: 0px;
    position: absolute;
    bottom: 15px;
}
.doc-box-alt .doc-box-content ul {
	left: 15px;
	right: 15px;
}
.doc-box-content ul li {
	display: inline-block;
	font-size: 1.0em;
	color: #616a71;
	font-weight: 600;
	position: relative;
	padding-left: 20px;
}
.doc-box-content ul li:first-child {
	padding-left: 0px;
}
.doc-box-content ul li:before {
	content: ' ';
	border-radius: 50%;
	width: 5px;
	height: 5px;
	position: absolute;
	background: #a4a6a7;
	top: 9px;
	left: 6px;
}
.doc-box-content ul li:first-child:before {
	display: none;
}
.doc-box-content ul li a {
	color: #616a71;
}
.doc-box-line-v {
	width: 2px;
	height: 30px;
	background: #7c8dc2;
	margin: 0 auto;
}
.doc-box-line-h {
	height: 2px;
	width: 100%;
	background: #7c8dc2;
	position: relative;
}
.doc-box-line-h:before,
.doc-box-line-h:after {
	content: ' ';
	display: block;
	position: absolute;
	left: -1px;
	height: 100%;
	width: 1px;
	background: #7c8dc2;
}
.doc-box-line-h:after {
	left: 100%;
}
.doc-box-partnerships {
	background: transparent;
	margin-bottom: 0;
}
.doc-box-partnerships .doc-box-img {
	height: 55px;
}
.doc-box-partnerships .doc-box-img img{
	max-height: 100%;
}
.doc-box-partnerships .doc-box-content{
	padding: 15px 20px 10px;
}
.col-sm-offset-1-5 {
	margin-left: 12.5%;
}

.doc-download-box {
	text-align: center;
}
.doc-download-box h4 {
	font-weight: 600;
}
.doc-download-box p {
	margin-bottom: 25px;
}
.doc-download-box-img {
	padding-bottom: 15px;
	min-height: 70px;
}

.doc-subtitle {
	color: #999fa4;
}

.blue-color-wrapper.training {
	padding-top: 55px;
	padding-bottom: 55px;
}
.training-img {
	position: absolute;
	bottom: 0;
	width: auto;
	margin: 0 0 0 30px !important;
}

#doc-top-video-wrapper {
	display: block;
	margin: 0 auto;
	background-color: #edeff1;
	border: 1px solid #edeff1;
	/*border-radius: 3px;*/
	min-height: 393px;
	/*min-width: 640px;*/
}

.jumbo-box {
	background-color: #bed2e2;
	margin-top: -50px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.jumbo-box.light-blue {
	background-color: #d2e4f2;
}

.jumbo-box h3 {
	font-size: 24px;
	margin-bottom: 15px;
}

.jumbo-box p {
	color: #39414a;
	margin-bottom: 20px;
	font-size: 16px;
}

.jumbo-box p:last-child {
	margin-bottom: 0;
}

.jumbo-box .img-wrapper {
	padding: 20px 0;
}

.jumbo-box .img-wrapper img {
	max-width: 70%;
}

.jumbo-box.full-size {
	padding: 0;
}

.jumbo-box.full-size .text-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
}

.jumbo-box.full-size .img-wrapper {
	padding: 0;
	align-self: flex-end;
}

.jumbo-box.full-size .img-wrapper img {
	max-width: 100%;
}

a.no-text-effect p {
	text-decoration: none;
	color: #616a71;
}

a.no-text-effect:hover,
a.no-text-effect:focus {
	text-decoration: none !important;
}

.partnerships-select-wrapper {
	display: inline-block;
}

.partnerships-select-wrapper .form-group {
    width: 530px;
    margin-right: 25px;
}

.partnerships-text.small {
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
}

#search-partners {
	background-color: #fff;
	border: 2px solid #798595;
	color: #798595;
	font-weight: 600;
	font-size: 16px;
	height: 39px;
}

.row-centered {
	text-align: center;
	font-size: 0;
}

.row-centered > div {
	float: none;
    display: inline-block;
	vertical-align: top;
}

.row-centered .doc-box-content {
	font-size: 15px;
}

#cookie-notice {
	background-color: #2c3e50 !important;
	font-size: 14px;
	line-height: 26px;
}

#cookie-notice .button.wp-default {
	background: none;
	border: none;
	background-color: #e85a5a;
    color: #fff;
	font-family: 'Montserrat', sans-serif;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
	font-size: 14px;
	line-height: 20px;
	text-shadow: none;
}

#cookie-notice .button.wp-default:hover,
#cookie-notice .button.wp-default:focus {
	background: none;
	background-color: #2fdc68;
	color: #fff;
}

.vertical-align-row {
	display: flex;
	align-items: center;
}

.partner-image {
	height: 90px !important;
}

.consulting-services-row {
	position: relative;
	padding-top: 20px;
}
.consulting-services-top-box,
.consulting-services-bottom-box {
	padding-left: 20px;
	padding-right: 20px;
}

.consulting-services-top-box:before,
.consulting-services-top-box:after,
.consulting-services-bottom-box:before,
.consulting-services-bottom-box:after {
	content: "";
    position: absolute;
	display: block;
	background-color: #7c8dc2;
	margin-left: -1px;
}
.consulting-services-bottom-box:before {
	top: -20px;
    left: 0;
    width: 100%;
    height: 2px;
}
.consulting-services-bottom-box:after {
	top: -20px;
    left: 50%;
    width: 2px;
    height: 20px;
}
.consulting-services-top-box:before {
	left: 0;
    bottom: -20px;
    width: 2px;
    height: 30px;
}
.consulting-services-top-box:after {
    right: 1px;
    bottom: -20px;
    width: 2px;
    height: 30px;
}

.no-bottom-margin .doc-box {
	margin-bottom: 0;
}

#trainings-table {
	font-size: 14px;
	border-collapse: collapse;
}

#trainings-table th,
#trainings-table td {
	padding: 15px 20px;
	vertical-align: top;
}

#trainings-table th {
	font-weight: 700;
	background-color: #d6e3f1;
}

#trainings-table td {
	background-color: #f2f2f2;
}

#trainings-table tr td {
	border-bottom: 1px solid #fff;
}
.width-80 {
	width: 80%;
}
.width-90 {
	width: 90%;
}
.doc-box-plus:after {
	position: absolute;
	background-image: url(../img/plus.png);
	background-size: cover;
	content: "";
	width: 40px;
	height: 40px;
	right: -35px;
	top: 15px;
}
.box-jumbo {
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}
.box-jumbo strong {
	font-size: 42px;
	color: #39414a;
}
